
// deployment
NEXT_PUBLIC_BASE_API_URL=<value> (must be the same as the API URL)
ROOT_DOMAIN=bookingapp.com
ACM_CERTIFICATE_ARN=<value> (must be from US-EAST-1) (in github actions name this ACM_CERTIFICATE_ARN_US)
